<%
  // Column set is generated from STAGES so new stages (Roofing, Solar, …) appear automatically.
  var _cols = STAGES.reduce(function (n, s) { return n + s.items.length; }, 0);
%>
<div class="grid-wrap">
  <table class="grid-table">
    <thead>
      <tr>
        <th class="col-addr" rowspan="2">Project</th>
        <th class="col-status" rowspan="2">Status</th>
        <% STAGES.forEach(function (s) { %>
          <th colspan="<%= s.items.length %>" class="stage-group sg-<%= s.key %>"><%= s.name %></th>
        <% }); %>
        <th rowspan="2"></th>
      </tr>
      <tr>
        <% STAGES.forEach(function (s, si) { s.items.forEach(function (it, ii) { %>
          <th class="item-th<%= (si > 0 && ii === 0) ? ' stage-start' : '' %>"><b><%= it.code.toUpperCase() %></b><span><%= it.name %></span></th>
        <% }); }); %>
      </tr>
    </thead>
    <tbody<%- (typeof sortable !== 'undefined' && sortable) ? ' class="sortable-body"' : '' %>>
      <% if (rows.length === 0) { %>
        <tr><td colspan="<%= _cols + 3 %>" class="empty-row"><%= emptyMsg %></td></tr>
      <% } %>
      <% rows.forEach(p => { %>
        <%- include('_project-row', { p }) %>
      <% }) %>
    </tbody>
  </table>
</div>
